@font-face {
    font-family: ElementalEnd;
    src: url(../font/Elemental\ End.ttf);
}

@font-face {
    font-family: Gordita;
    src: url(../font/Gordita\ Regular.otf);
}

@font-face {
    font-family: GorditaLight;
    src: url(../font/Gordita\ Light.otf);
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.main {
    background-image: url(../img/new/background-3.svg);
    height: 100%;
    background-repeat: no-repeat;

}

.mainform {
    background-image: url(../img/new/formback.svg);
    height: 100%;
    background-repeat: no-repeat;

}

.logo {
    font-family: ElementalEnd;
    color: white;
    text-align: center;
}

.logo #top {
    font-size: 150%;
}

.logo #bottom {
    font-size: 130%;
}

.welcome {
    color:white;
    height: 780px;
    margin-top: 300px;
}

#box {
    background-color: white;
    -moz-box-shadow: 10px 10px 25px #ccc;
    -webkit-box-shadow: 10px 10px 25px #ccc;
    box-shadow: 0px 0px 25px #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s, background-color 0.5s;
    border-radius: 10px;
    padding: 5px;
    font-size: large;
}

.navigation a:hover {
    text-decoration: none;
    color: #EC2490;
    background-color: white;
    
}

#custombtn {
    color: white;
    font-family: Gordita;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s;
    font-weight: bold;
    font-size: larger;
}

#custombtn:hover {
    color: #EC2490;
    background-color: White;
    text-decoration: none;
}

#custombtn2 {
    color: #EC2490;
    font-family: Gordita;
    border-radius: 10px;
    border: 2px solid #EC2490;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s;
    font-weight: bold;
}

#custombtn2:hover {
    color: white;
    background-color: #EC2490;
    text-decoration: none;
}

p {
    font-family: Gordita;
}

h1 {
    font-family: Gordita;
}

h2 {
    font-family: GorditaLight;
}

h3 {
    font-family: Gordita;
}

h4 {
    font-family: Gordita;
}

h5 {
    font-family: Gordita;
}



/* Animation */

.animated{
    animation-name: bounce-7;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

}

@keyframes bounce-7 {
    0%   { transform: scale(1,1)        translateY(0); }
    10%  { transform: scale(1,1)        translateY(0); }
    30%  { transform: scale(1,1)        translateY(-15px); }
    50%  { transform: scale(1,1)        translateY(0); }
    100%  { transform: scale(1,1)       translateY(0px); }
}
